@page "/getintouch"
<div class="text-center border my-5 rounded">
<div class="display-6">İletişim</div>
<div class="lead">
<i class="fa fa-phone text-primary my-3"></i>
<p>0000 000 00 00</p>
<i class="fa fa-location-dot text-primary my-3"></i>
<p>deneme mh. deneme sk. İstanbul Levent</p>
<i class="fa-solid fa-envelope text-primary my-3"></i>
<p>deneme@gmail.com</p>
</div>
</div>

